<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Workday Test Suite">

	<listeners>
		<listener class-name="ExtentReport.ExtentReportListenerNg" />
	</listeners>


	<test name="Workday Test Cases">
		<classes>
			<class name="TestCases.workdayTestCase"></class>
			
		</classes>
	</test>
</suite>